/*RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Thi Hoang Yen
ID: s3930002
Acknowledgement: Acknowledge the resources that you use here.*/

/*Border of images*/
.large-images,
.small-images a {
    border-radius: 5px;
}

/*Style 3 small images position*/
.small-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.small-images a:last-child {
    margin-right: 0;
}

.small-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #FFA7E4;
    border-radius: 5px;
}

.large-images {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px; 
    margin-left: 10px;
    align-items: center;
}

.large-images a {
    flex: 1; 
}

.large-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #FFA7E4;
    border-radius: 5px;
}

/*style the heading 1*/
.book-informations h1 {
    font-size: 24px;
}

/*Style the buttons*/
.button-group .quantity {
    display: block;
    border: none;
}

.button-group .quantity .select-number {
    width: 100%;
    color: #FFF9E2;
    background-color: #FFA7E4;
    text-align: left;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

.button-group .submit-button {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    background-color: #FFA7E4;
    color: #FFF9E2;
    border: none;
    margin-left: 20px;
}

.button-group .submit-button:hover {
    color: #FFA7E4;
    background-color: #FFF9E2;
    border: 2px solid #FFA7E4;
}

.button-group{
    display: flex;
    flex-direction: row;
}

.book-section {
    display: flex;
    margin-bottom: 20px;
}

.book-details {
    display: flex;
    align-items: center;
    flex-wrap: none;
    justify-content: center;
}

.book-informations {
    width: 50%;
}

.button-group {
    margin-left: 20px;
}

/* Styling for the book description */
.book-description {
    margin-top: 20px;
    
}

/* Styling for the details element  */
details {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling for the summary of the details element */
details summary {
    cursor: pointer;
    font-weight: bold;
    color: #FFA7E4;
}

/* Styling for the content inside the details element (the description itself) */
details p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.6;
}

/* Updated CSS for smaller screens (max-width=767px) */
@media screen and (max-width: 767px) {
    .book-section {
        display: flex;
        flex-direction: column;
    }

    .book-details {
        flex-wrap: wrap;
    }

    .book-images {
        display: flex;
        flex-direction: column;
    }

    .small-images {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-direction: row;
        margin: 0 10px;
    }

    .small-images a {
        width: 50%;
        height: auto;
    }

    .book-details {
        width: 100%;
    }

    .large-images {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .large-images img {
        max-width: 100%;
        height: auto;
    }

    .discount {
        font-size: 12px; 
        padding: 2px; 
    }
}

/* Larger screens (min-width=768px) */
@media screen and (min-width: 768px) {
    .book-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
    }
  
    .book-images {
        flex: 1 1 10%; 
        display: flex;
        flex-direction: row; 
    }
  
    .small-images {
        order: 1;
        flex: 1 1 10%; 
        display: flex;
        flex-direction: column;
    }
  
    .small-images {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .small-images a {
        width: 35%;
        height: auto;
    }
    
  
    .large-images {
        order: 2;
        flex: 1 1 30%; 
        margin-left: 20px; 
    }
  
    .large-images img {
        max-width: 100%;
        height: auto; 
    }
      
    .book-details {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
    }

}
