/*RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Thi Hoang Yen
ID: s3930002
Acknowledgement: Acknowledge the resources that you use here.*/


body{
  padding: 50px;
}
/* Main Content Styles */
.main {
    display: flex;
    background-color: white;
    border: 2px solid #729068;
    border-radius: 5px;
    padding: 50px;
   
  }
  
  .book-images {
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap; /* Wrap the book images on smaller screens */
    justify-content: space-between;
  }
  
  .large-image {
    flex-basis: 45%;   
    display: flex;
    align-items: center;
    justify-content: center;  
    border: 2px solid #000000;
    border-radius: 5px;
  }
  
  .large-image img {
    width: 100%;
    display: block;
  }
  
  
  .small-images {
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;

  }
  
  .small-images img {
    width: 70%;
    display: block;
    border: 2px solid #729068;
    border-radius: 5px;
  }

  .small-images img:hover{
    transform: scale(1.4);
  }
  
  
  .book-details {
    flex-basis: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px ;
  }
  
  .book-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#000000;
  }
  
  .book-price {
    font-size: 20px;
    font-weight: bold;
    color: #729068;
    margin-bottom: 15px;
  }

  .book-quantity {
    margin-bottom: 15px;
  }
  
  .book-quantity label {
    font-size: 16px;
    color: #777;
    margin-right: 10px;
  }
  
  .book-quantity input {
    width: 50px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .add-to-cart {
    background-color: #729068;
    color: #FFFFCC;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .add-to-cart:hover{
    background-color: #FFFFCC;
    color:#729068;
    border: 2px solid #729068
  }
  
  /* Book Description Styles */
  .book-description {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    background-color: white;
    border: 2px solid #729068;
    border-radius: 5px;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Mobile Styles */
  @media screen and (max-width: 768px) {
    .main {
      flex-wrap: wrap;
    }
  
    .book-images {
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;

    }
  
    .large-image {
      margin: 0 auto;
      order: 1;
    }

    .small-images {
      margin-top: 20px;
      order:2;
      flex-basis: calc(40% - 10px);
      display: flex;
      flex-direction: row;
    }
  
    .book-details {
      flex-basis: 100%;
      margin-top: 20px;
      padding: 10px;
    }

    
    .small-images img {
    width: 40%;
    max-height: none;
    margin-top: 10px; /* Add some spacing between the small images */
  }
 }


h3 .breadcr li a {
  color: #000000;
}

h3 .breadcr li a:hover {
  text-decoration: underline;
}

