/* Contact Form Styles */
.contact-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group textarea {
    resize: vertical;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-group label,
.form-group input[type="checkbox"],
.form-group input[type="radio"] {
    display: block;
    margin-bottom: 5px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-buttons button {
    background-color: #729068;
    color: #FFFFCC;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.form-buttons button:last-child {
    margin-right: 0;
}

.form-buttons button:hover {
    background-color: #FFFFCC;
    color: #729068;
    border: 2px solid #729068;
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
    .form-group label,
    .form-group input,
    .form-group select,
    .form-group textarea {
        display: block;
        width: 100%;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        margin-bottom: 10px;
    }
}


/*Thank-you style*/
.thank-you-message {
    text-align: center;
    background-color: #FFF;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.thank-you-message h1 {
    color: #729068;
    margin-bottom: 10px;
}

.thank-you-message p {
    margin-bottom: 10px;
}

.back-to-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #729068;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-to-home:hover {
    background-color: #8fc393;
}

