/*RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Thi Hoang Yen
ID: s3930002
Acknowledgement: Acknowledge the resources that you use here.*/

/*Set the body style*/
body{
    background-color: #FFFDFB;
    padding: 0 20px;
    margin: 0 auto;
}

/*Set heading 1 style*/
h1{
    text-align: center;
}

/*Set the a style*/
a{
    text-decoration: none;
    color:black; 
    text-align: center;
}

a:active {
    color: green; 
}

/*Set the heading style*/
h2 {
    text-decoration: none;
    color: black;
}

/*Style the h2*/
.category h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.category h2 a:hover{
    color: #FFA7E4;
}
h3 a{
    text-decoration: none;   
}

h3 a:hover{
    color:#FFA7E4;
}

h3 .breadcr li a {
    color: #000000;
}
  
h3 .breadcr li a:hover {
    text-decoration: underline;
}

/* Footer Styles */
.footer {
    margin-top: 20px;
    background-color: #FFF9E2;
    padding: 20px 10px;
    border-radius: 5px;
    border: 2px solid #FFA7E4;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 120px;
}

.footer-nav ul {
    list-style: none;
    display: flex;
}

.footer-nav li {
    margin: 0 15px;
}

.footer-nav a {
    color: #FFA7E4;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #FFFDFB;
    background-color:#FDA4E1;
    padding: 5px;
    border-radius: 3px;
}

.footer-social img {
    width: 25px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
}

.footer-bottom p {
    margin: 0;
    color:#FFA7E4;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 767px) {
    .footer-container {
        flex-direction: column;
    }
  
    .footer-nav ul {
        flex-wrap: wrap;
        justify-content: center;
    
    }
  
    .footer-nav li {
        margin: 5px;
    }
}

/* Style breadcrumbs */
.breadcr {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    list-style: none;
  }
  
.breadcr li {
    display: inline-block;
    color: #FFA7E4;

  }
  
.breadcr li a {
    color:  #FFA7E4;
    text-decoration: none;
  }
.breadcr li:last-child {
    text-decoration: underline;
  }

.breadcr li:not(:last-child):after {
    content: ">";
    margin: 0 5px 0 12px;
    color:  #FFA7E4;
  }


/*Style the background picture*/

.cat-background img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}


