/*RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Thi Hoang Yen
ID: s3930002
Acknowledgement: Acknowledge the resources that you use here.*/



/* To set the navigation bar */
nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFDFB;
    padding: 10px;
    flex-grow: 1;
}

.logo {
    margin: 0 auto;
    width: 100%; 
    max-width: 200px; 
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto; 
    border: 2px solid #ccc;
    border-radius: 5px;
}

.menu {
    flex: 1;
    margin-top: 20px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li {
    margin-right: 20px;
    position: relative;

}

.menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    font-weight: bold;
}

.menu li::after {
    content: "|";
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    color: #333;
}

.menu li:last-child::after {
    content: "";
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: #729068;
}

.mobile-nav-icon {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    background-color: #729068;
    color: #fff;
    border-radius: 5px;
    display: none;
    transition: transform 0.2s ease-in-out;
    margin-left: 70px;
}

@media (max-width: 767px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 5px 0px;
        text-align: left;
    }

    nav ul {
        flex-direction: column;
        margin-top: 20px;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .menu {
        display: block;
        max-height: 200px; 
        transition: max-height 0.3s ease;
    }
   
    .menu ul {
        flex-direction: column;
        margin-top: 20px;
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .menu li::after {
        content: none;
    }

    .menu {
        display: none;
    }

    .mobile-nav-icon {
        display: block;
    }

    .mobile-nav-icon:hover + .menu {
        display: block;
    }

    .menu:hover {
        display: block;
        max-height: 300px;

    
    }
}

/* Book Containers and Details */
.category {
    margin: 40px 0;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}

.book {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book img {
    max-width: 150px;
    height: auto;
    border-radius: 4px;
}

.book-details {
    flex: 1;
    margin-top: 20px;
    text-align: center;
}

.book-details .Cover-book {
    color: #ff5e15;
    font-weight: bold;
    text-transform: uppercase;
}

.book-details .book-name {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.book-details .author-name {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

/* Flexbox styles for the video and map containers */
.video-map-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

/* Apply styles to the video container */
.video-container {
    flex-basis: 60%; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Apply styles to the video element */
.video {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ccc;
}

/* Style the map container */
.map-container {
    width:50%;
    flex-basis: 50%; 
    margin-left: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media query: Video-map container for screens smaller than 768px*/
@media screen and (max-width: 767px) {
    .video-map-container {
        flex-direction: column;
        align-items: center;
    }

    .video-container {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

/* Media query: Video-map container for screens between 768px and 1199px*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .video-map-container {
        display: flex;
        flex-direction: row;
    }

    .map-container {
        flex-basis: 100%;
        margin-left: 0;
    }

    .video-container {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}
