/*Set the body style*/
body{
    background-color: #FFFDFB;
}

/*Set the a style*/
a {
    text-decoration: none; 
  }
  
a:active {
    color: green; 
}

a:hover{
    color:#729068;

}

/*Set the heading style*/
h2 a{
    text-decoration: none;
    color: black;
}

h2:hover{
    color: #729068;
}

/* To set the navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFDFB;
    padding: 10px;
  }
  
    .logo img {
    width: 35%;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
  }
  
  .menu li {
    margin-right: 30px;
    position: relative; 
  }
  
  .menu li::after {
    content: "|"; 
    position: absolute;
    top: 50%;
    right: -15px; 
    transform: translateY(-50%);
    color: #333;
  }
  
  .menu li:last-child::after {
    content: "";
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .menu a:hover{
    text-decoration: underline;
    text-decoration-color: #729068;
  }
  
  .actions button {
    background-color: #fff;
    padding: 8px 12px;
    color: black;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .actions button:first-child {
    margin-left: 0;
  }
  
  .actions button:hover {
    background-color: #729068; 
    color:#FFFFCC ;
    transform: scale(1.1);
  }

/* Apply styles for video*/
.video-head {
    width: 75%;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* Category Section */
.category {
    margin: 40px 0;
}

.category h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.category h2 a:hover{
    color:#729068;
}

.book-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book {
    flex-basis: calc(33.33% - 20px);
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #729068;
}

.book img {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
}

.book-details {
    margin-top: auto;
}

.book-details .Cover-book {
    color: rgb(240, 112, 112);
}

.book-details .book-name{
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;

}

.book-details .author-name {
    color:#cbc6ae;
}

/* Deal Section */
.Deal-books {
    padding: 40px 20px;
}

.Deal-books h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.book-container {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    padding: 5px;
}

.book-container h2 {
    background-color: #729068;
}

.book {
    flex-basis: calc(50% - 300px);
    background-color: #fff;
    padding: 3px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.book img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.salebook-details p {
    margin: 0;
}

.salebook-details .Cover-book {
    color: #ff5e15;
    font-weight: bold;
    text-transform: uppercase;
}

.salebook-details .book-name {
    font-size: 18px;
    font-weight: bold;
    color:#729068;
}

.salebook-details .author-name {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.salebook-details p:last-child {
    font-size: 18px;
    font-weight: bold;
    color: #1E3A5F;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th {
    font-weight: normal;
    font-size: 18px;
    color: #1E3A5F;
    padding: 5px;
    text-align: center;
}

table td {
    font-size: 14px;
    color: #555;
    padding: 5px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.Deal-books .book:nth-child(2n) {
    margin-right: 0;
}

.price {
    position: relative;
    margin-top: 10px;
}

.old-price {
    text-decoration: line-through;
    color: #777;
}

.new-price {
    color: #ff5e15;
    font-weight: bold;
    font-size: 18px;
}

.discount {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background-color: #ff5e15;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.book-container{
    justify-content: space-between;
}

/* Apply transition to book images */
.book img {
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease; 
}

/* Add a scale effect on hover */
.book img:hover {
    transform: scale(1.1);
}

/* Footer Styles */
.footer {
    background-color: #729068;
    color: white;
    padding: 20px 0;
    border-radius: 2px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 150px;
}

.footer-nav ul {
    list-style: none;
    display: flex;
}

.footer-nav li {
    margin: 0 15px;
}

.footer-nav a {
    color: #FFFFCC;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav a:hover{
    border: 1px solid  #FFFFCC;
    padding: 2px;
    border-radius: 2px;
}

.footer-social img {
    width: 25px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
}

.footer-bottom p {
    margin: 0;
    color:#FFFFCC
}

/* Flexbox styles for the video and map containers */
.video-map-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

/* Apply styles to the video container */
.video-container {
    flex-basis: 60%; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Apply styles to the video element */
.video {
    width: 100%;
    height: auto;
    display: block;
}

/* Add a subtle border to the video */
.video {
    border: 1px solid #ccc;
}

/* Apply styles to the map container */
.map-container {
    flex-basis: 40%; 
    margin-left: 20px; 
    border-radius: 3px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .video-map-container {
        flex-wrap: wrap;
    }
    .video-container,
    .map-container {
        flex-basis: 100%;
        margin-left: 0;
        margin-bottom: 20px; 
    }
}

/* Style breadcrumbs */
.breadcr {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    list-style: none;
  }
  
  .breadcr li {
    display: inline-block;
    color: #293D48;

  }
  
  .breadcr li a {
    color: #293D48;
    text-decoration: none;
  }
  .breadcr li:last-child a {
    text-decoration: underline;
}

  .breadcr li:not(:last-child):after {
    content: ">";
    margin: 0 5px 0 12px;
    color: #293D48;
  }

  /* Vertical header nav bar for mobile devices */
@media screen and (max-width: 767px) {
    .menu {
      text-align: center; /* Center the menu items */
    }
    .menu ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .menu li {
      display: block;
      margin-bottom: 10px;
    }
  }

  /* Horizontal header nav bar for desktop devices */
@media screen and (min-width: 768px) {
    .menu {
      float: right; /* Float the menu to the right */
    }
    .menu ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .menu li {
      display: inline-block;
      margin-left: 20px;
    }
  }

  /* Resizing header logo for small mobile screens */
@media screen and (max-width: 480px) {
    .header-home .logo img {
      width: 120px;
    }
  }
  




